/* #content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
} */

*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #f8f9f0;
    --clr-dark: #1f261a;
    --clr-accent: #a6c085;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25);
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
    margin-left: 7em;
    margin-right: 7em;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: var(--clr-accent);
}

button {
    margin: 1em;
    padding: 0.4em;
    height:50px;
    font-weight: var(--fw-reg);
    font-family: var(--ff-primary);
    color: var(--clr-dark);
    background-color: #a6c085b5;
    border-radius:6px;
    border:none;
    box-shadow: 0px 0px 1px 1px #1f261a95;
}

p, li {
    font-size: 20px;
}

h1,
h2,
h3 {
    line-height: 1.0;
    margin-bottom: 0.5em;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-size:3em;
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    font-size: 1.05em;
    padding: .25em 1em;
    margin-bottom: 1em;
}

.intro {
    /*position: relative;*/
    margin-left:1em;
    margin-right:1em;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }    
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }

    .intro__btn {
        margin: 1em;
        padding: 0.4em;
        width: 200px;
        height:50px;
        font-weight: var(--fw-reg);
        font-family: var(--ff-primary);
        color: var(--clr-dark);
        background-color: #a6c085b5;
        border-radius:6px;
        border:none;
        box-shadow: 0px 0px 1px 1px #1f261a95;
    }

    .intro__quote {
        margin: 1em;
        width: 400px;
    }
}

.footer {
    background: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footer a { 
    color: inherit;
    text-decoration: none;
    margin: 1em;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
a:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .photo{
    width: 20%;
    transition: 2s;
  }
  
  .photo img{
    width: 800px;
    height: 500px;
  }
    
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid var(--clr-accent);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: var(--clr-accent);
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid var(--clr-accent);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: var(--clr-accent);
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: var(--clr-accent);
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: var(--clr-accent);
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: var(--clr-accent);
  }
